* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4CAF50;
  padding: 10px;
}

.container-title {
  margin-left: 10px;
}

.title {
  font-size: 24px;
  color: white;
}

.section-pesquisa {
  display: flex;
}

#pesquisaInput {
  padding: 5px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

.section-pesquisa button {
  border: none;
  background-color: #388E3C;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.section-pesquisa button:hover {
  background-color: #2E7D32;
}

.container-cartTitle {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.cart__title {
  font-size: 18px;
  color: white;
}

.categories-list,
.sort-order {
  margin: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.item {
  background-color:#f6efef;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  align-items: start;
}

.item__title {
  font-size: 16px;
  margin-bottom: 10px;
  margin-bottom: auto;
}

.item__image {
  width: 100%;
  height: auto;
}

.item__add {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.item__add .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
}

.item__add:hover {
  background-color: #388E3C;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left-color: #333;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

.cart {
  width: 500px;
  background-color: #f9f4f4;
  padding: 22px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  max-height: 600px;
  overflow-y: auto;  
}

.cart__item {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cart__item__delete {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-left: 5px;
}

.cart__item__price {
  white-space: nowrap;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.empty-cart {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.empty-cart:hover {
  background-color: #2980b9;
}

.cart__item-image {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.quantity-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-controls button {
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  font-size: 14px;
  border-radius: 3px;
  margin-left: 3px;
  margin-right: 3px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-controls button:hover {
  background-color: #388E3C;
}

.quantity-controls span {
  padding: 0 5px;
}

.total-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
  background-color: #f3f3f3;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carregandoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carregandoContainer.hide {
  display: none;
}

.loading {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
0% {
transform: rotate(0deg);
}
100% {
transform: rotate(360deg);
}
}

.product-list-empty {
display: none;
font-size: 18px;
text-align: center;
margin-top: 20px;
color: #757575;
}

.empty-message {
font-size: 18px;
text-align: center;
margin-top: 20px;
color: #757575;
}

.hide {
  display: none;
}

@media only screen and (max-width: 600px) {
  .section-pesquisa {
    flex-direction: column;
    align-items: center;
  }

  .container-title {
    display: none;
  }

  .cart__title {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .cart {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .cart__item {
    font-size: 14px;
  }

  .cart__item__delete {
    font-size: 16px;
  }

  .cart__item__price {
    font-size: 14px;
  }

  .total-price {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 10px;
  }

  .quantity-controls button {
    font-size: 12px;
    width: 20px;
    height: 20px;
  }

  #pesquisaInput {
    margin-bottom: 10px;
  }

  .section-pesquisa button {
    width: 100%;
  }
  .categories-list,
  .sort-order {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
  }
  
}

